<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SFC.Gate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SFC.Gate.Configurations.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SFC.Gate.Properties.Settings>
      <setting name="awdasf" serializeAs="String">
        <value>asdf</value>
      </setting>
    </SFC.Gate.Properties.Settings>
    <SFC.Gate.Configurations.General>
      <setting name="ConfirmExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GuardModeOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Background" serializeAs="String">
        <value>bg.jpg</value>
      </setting>
      <setting name="LogTimeout" serializeAs="String">
        <value>74</value>
      </setting>
    </SFC.Gate.Configurations.General>
  </userSettings>
</configuration>